 .connectionStatus {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   text-align: center;
   padding: 4px;
   cursor: pointer;
 }

 .connectionStatus.status-disconnected {
   color: white;
   background-color: red;
 }
