.message
  margin: 4px 0
  display: flex
  align-items: center
  position: relative;
  flex: none;

  &.mine
    flex-direction: row-reverse

  & .message-component-reply
    margin-bottom: 0.5rem

.message-component
  display: flex
  flex-direction: column
  flex-shrink: 0
  max-width: 55%
  border: var(--border)
  border-radius: 5px
  font-size: 1rem
  font-weight: bold
  padding: 0.5rem
  text-align: left
  cursor: pointer

  .author-name
    font-size: 0.8rem
    font-weight: bold
    margin-right: 3px

  .message-time
    font-size: 0.8rem
    font-weight: normal

.message-component-reply
  font-size: small
  font-style: italic
  border: var(--border)
  border-radius: 3px
  border-width: 1px
  padding: 0.25rem

  &, & > *
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
