.messagesContainer
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

ul.messages
  margin: 0;
  padding: 4px;
  list-style: none;
  overflow-y: auto
  display: flex;
  flex-direction: column-reverse;