.message-interactions
  // flex: 1;

  .interactions
    display: flex
    padding: 0.5rem;
    justify-content: space-between;

    &.reverse
      flex-direction: row-reverse;

  .reactions
    // position: absolute;
    top: -30px;
    .reaction
      font-size: 2rem;
      border: var(--border);
      border-radius: 5px;
      padding: 0.5rem;
      margin: 0 0.25rem;
