 .messagesContainer {
   overflow-y: auto;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
 }

 ul.messages {
   margin: 0;
   padding: 4px;
   list-style: none;
 }

 ul.messages li {
   margin: 1px 0;
   display: flex;
   align-items: center;
 }

 ul.messages li span {
   max-width: 55%;
   border-radius: 5px;
   padding: 0.5rem;
   font-size: 1rem;
   font-weight: bold;
   border: var(--border);
 }

 ul.messages li.mine {
   flex-direction: row-reverse;
   /* justify-content: flex-end; */
 }

 ul.messages li.mine span.messageAuthor {
   display: none;
 }

 ul.messages li.theirs {
 }
