.message-reactions
  position: absolute
  top: -2.5rem
  width: 100%
  display: flex
  justify-content: center
  .reaction
    font-size: 1.5rem
    border: none
    border-radius: 5px
    padding: 0.25rem 0.5rem
    margin: 0 0.25rem
    background-color: var(--white)
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15)
