.message-reactions
  position: absolute;
  top: -2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  .reaction
    font-size: 1.5rem;
    border: var(--border);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0 0.25rem;
    background-color: var(--white);
    border-color: var(--highlight);
