.reactions-to-message
  margin-top: 0.25rem
  width: 100%
  text-align: right

  .reaction
    background: var(--white)
    border-radius: 0.25rem
    padding-left: 0.25rem
    margin-left: 0.25rem
    display: inline-block

    span
      text-align: center
      &.count
        margin: 0 0.25rem
        font-size: 0.75rem

      &.emoji
        font-size: 1rem
