.welcome-screen
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: white;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  h1
    font-size: 4rem

  h4
    font-weight: normal;

  p
    font-size: 1.5rem;
