html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

:root {
   --light: #eaebed;
   --dark: #525252;
 }
 html,
 body {
   height: 100%;
   margin: 0;
   padding: 0;
   display: block;
   font-family: Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   background-color: whitesmoke;
 }

 a {
   color: var(--dark);
   text-decoration: none;
 }

 #root {
   height: 100%;
 }

 .txt,.txt.light{
   color: #eaebed;
 }
 .txt.dark {
   color: #525252;
 }
 .room {
   display: flex;
   height: 100%;
   flex-direction: column;
   max-width: 600px;
   margin: 0 auto;
   padding: 0;
   background-color: white;
 }

 .connectionStatus {
   text-align: center;
   padding: 4px;
 }

 .connectionStatus.status-0,
 .connectionStatus.status-1 {
   display: none;
 }
 .connectionStatus.status-2,
 .connectionStatus.status-3 {
   color: white;
   background-color: red;
 }

 .messagesContainer {
   overflow-y: auto;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
 }

 ul.messages {
   margin: 0;
   padding: 4px;
   list-style: none;
 }

 ul.messages li {
   margin: 1px 0;
   display: flex;
 }

 ul.messages li span {
   max-width: 55%;
   border-radius: 8px;
   padding: 6px 12px;
   color: white;
 }

 ul.messages li.mine {
   justify-content: flex-end;
 }

 ul.messages li.mine span.messageAuthor {
   display: none;
 }

 ul.messages li.theirs {
   flex-direction: column;
   align-items: flex-start;
 }

 .textbox {
   padding: 8px 4px;
   display: flex;
   align-items: center;
   flex-shrink: 0;
 }

 .textbox > * {
   margin: 0 4px;
 }

 .textbox input {
   border-radius: 4px;
   border: solid 1px #a1a1a17a;
   padding: 8px;
   flex-grow: 1;
   font-size: large;
 }

 .circle {
   font-size: 2em;
  }

 .circle.active:after {
   background-color: #eaebed75;
   color: #525252;
 }
 .circle.active.dark:after {
   background-color: #52525275;
   color: #eaebed;
 }
 .circle:after {
  content: "\22EE";
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  line-height: 1;
  text-align: center;
}
 a.arrow {
   width: 1.25rem;
   height: 1.25rem;
   display: inline-block;
   position: relative;
   margin: 0 0.5rem;
 }

 a.arrow.dark span {
   background-color: #525252;
 }
 a.arrow span {
   top: 0.5rem;
   position: absolute;
   width: 0.8rem;
   height: 0.2rem;
   background-color: #eaebed;
   display: inline-block;
   transition: all 0.2s ease;
   right: 0.5rem;
 }

 a.arrow span:first-of-type {
   transform: rotate(45deg);
   transform-origin: bottom right;
 }
 a.arrow span:last-of-type {
   transform: rotate(-45deg);
   transform-origin: top right;
 }

 a.arrow.active span:first-of-type {
   transform: rotate(-45deg);
   transform-origin: bottom left;
 }

 a.arrow.active span:last-of-type {
   transform: rotate(45deg);
   transform-origin: top left;
 }

 .share-room {
   padding: 4px;
   text-align: center;
 }
 .qr-image img {
   background-color: white;
   border: 4px solid rgba(0, 0, 0, 0.2);
   border-radius: 8px;
   padding: 8px;
 }

 .copy-link {
 }
 .join-room {
 }
 .create-new-room {
 }
 .options {
   text-decoration: none;
   font-size: 1.9rem;
 }
